---
import { SITE } from 'astrowind:config';
---

<span class="flex items-center gap-2">
  <span class="self-center text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {SITE?.name}
  </span>
</span>
