---
// prettier-ignore
import { ANALYTICS } from 'astrowind:config';

const gtmId = ANALYTICS?.vendors?.googleTagManager?.id;
const clarityId = ANALYTICS?.vendors?.clarity?.id;
---

<>
  {
    gtmId && (
      <>
        <script
          is:inline
          define:vars={{ gtmId }}
          set:html={`
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});const f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer',gtmId);
      `}
        />
      </>
    )
  }

  {
    clarityId && (
      <>
        <div id="clarity-setup" data-id={clarityId} class="hidden"></div>
        <script>
          import Clarity from '@microsoft/clarity';
          const element = document.getElementById('clarity-setup');
          if (element) {
            const id = element.dataset.id;
            if (id) Clarity.init(id);
          }
        </script>
      </>
    )
  }
</>
